@use "~bootstrap/scss/bootstrap" as *;

/* Header */
h1 {
    color: white;
}
header {
    min-height: 5rem;
    nav {
        ul {
            list-style-type: none;
            * {
                margin-right: 1rem;
                font-weight: bold;
            }
        }
    }
}

#jumbo {
    height: 400px;
    width: 100vw;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

/* main */
.container {
    width: 80%;
}

main {
    background-color: #1c1c1c;
    .comic-card{
        height: 200px;
    }
    h6 {
        color: white;
    }
}

#blue-banner {
    min-height: 200px;
    background-color: dodgerblue;
    ul {
        list-style-type: none;
        * {
            margin-right: 30px;
            color: white;
            font-weight: 600;
        }
        img {
            width: 50px;
        }
    }
}

/* footer */
footer {
    height: 400px;
    background-image: url('../../public/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    div {
        height: 100%;
        padding: 20px
    }
    img {
        height: 100%;
        object-fit: contain;
    }
}

#bottom-ft {
    min-height: 100px;
    background-color: #303030;
    ul {
        list-style-type: none;
        img {
            height: 100%;
        }
        * {
            padding: 10px;
        }
    }
}
