@use "~bootstrap/scss/bootstrap" as *;

h1 {
    color: red;
}
/* Header */

header {
    min-height: 5rem;
    nav {
        ul {
            list-style-type: none;
            * {
                margin-right: 1rem;
                font-weight: bold;
            }
        }
    }
}

#jumbo {
    height: 400px;
    width: 100vw;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
